.wrapper {
    margin-bottom: 30px;
}

.userName {
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .userName {
        font-size: 15px;
    }
}