.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 48px;
}

.title {
    margin: 0;
    flex-grow: 1;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}

.btnClose {
    display: block;
    padding: 0;
    margin-right: -10px;
    margin-top: -10px;
    font-size: 0;
    line-height: 1;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}