.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 48px;
}

.input {
    min-width: 300px;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #626261;
    transition: .2s ease-in-out;
}

.input:focus {
    outline: none;
}

.inputFilled {
    border-color: transparent;
}